<table class="table table-striped">
  <thead>
    <tr>
      <th>Vorlesung</th>
      <th>Source Code</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in include.data %}
    <tr>
      <td>{{ entry.title }}</td>
      <td>
        <!-- <div class="btn-group"> -->
        {% for source in entry.sources %}
          <a href="{{ source.url }}" class="btn btn-sm btn-{{ source.type }}">{{ source.title }}</a>
        {% endfor %}
        <!-- </div> -->
      </td>
      <td>
        <!-- <div class="btn-group"> -->
        {% for download in entry.downloads %}
          <a href="{{ download.pdf }}" class="btn btn-sm btn-{{ download.type }}">{{ download.title }}</a>
        {% endfor %}
        <!-- </div> -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
