// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
$font-size-root: 14px;

$btn-padding-x-sm: .75rem;
$btn-padding-y-sm: .45rem;

$navbar-brand-padding-y: .75rem;

$table-cell-padding: .6rem;
