---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

$font-size-base: .875rem; // 14px if default is 16px

$btn-padding-x-sm: .65rem;
$btn-padding-y-sm: .25rem;

$table-cell-padding: .55rem;

@import 'bootstrap';
